{% include "base.html" %}

<div class="row">

	<div class="col-md-6 col-md-offset-3">

		<div class="row vertical-align-center">

			<div class="col-md-9">
				<h1>Restaurant Catalog</h1>
			</div>


			<div class="col-md-3">
				<a class="btn btn-default" href="{{url_for('restaurants')}}" aria-label="Sort alphabetical" title="sort alphabetical"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a>
				<a class="btn btn-default"  href="{{url_for('restaurantsByCategory')}}" aria-label="Sort by nationality" title="sort by nationality"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
				<a class="btn btn-default" href="{{url_for('addRestaurant')}}" aria-label="Add new restaurant" title="add restaurant"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>

		</div>

		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="alert alert-success alert-dismissible" role="alert">
					        <ul>
					        {% for message in messages %}
					            <li> <strong> {{ message }} </strong> </li>
					        {% endfor %}
				        	</ul>
				        </div>
			        </div>
		        </div>
		    {% endif %}
	    {% endwith %}

	</div>

</div>

{% block content %}
{% endblock %}