{% include "base.html" %}

<div class="navbar navbar-fixed-top">
<div class="container">
<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('restaurants')}}">Restaurant Catalog</h1>

				<a class="btn btn-default pull-right" href="{{url_for('addRestaurant')}}" aria-label="Add new restaurant" title="add restaurant"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
				<a class="btn btn-default pull-right"  href="{{url_for('restaurantsByCategory')}}" aria-label="Sort by nationality" title="sort by nationality"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
				<a class="btn btn-default pull-right" href="{{url_for('restaurants')}}" aria-label="Sort alphabetical" title="sort alphabetical"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a>

</div>
</div>

		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    	<div class="row">
		    		<div class="col-xs-12 col-md-12">
		    			<div class="alert alert-success alert-dismissible" role="alert">
					        <ul>
					        {% for message in messages %}
					            <li> <strong> {{ message }} </strong> </li>
					        {% endfor %}
				        	</ul>
				        </div>
			        </div>
		        </div>
		    {% endif %}
	    {% endwith %}

{% block content %}
{% endblock %}