{% include "base.html" %}

<div class="row">

	<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

		<div class="row vertical-align-center">

			<div class="col-xs-8 col-md-8">
				<h1>Restaurant Catalog</h1>
			</div>


			<div class="col-xs-4  col-md-4">

				<div class="row">

					<div class="col-md-4">
						<a class="btn btn-default pull-right" href="{{url_for('addRestaurant')}}" aria-label="Add new restaurant" title="add restaurant">Add&nbsp<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
					</div>

					<div class="col-md-4">
						<a class="btn btn-default pull-right"  href="{{url_for('restaurantsByCategory')}}" aria-label="Sort by nationality" title="sort by nationality">Sort&nbsp<span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
					</div>

					<div class="col-md-4">
						<a class="btn btn-default pull-right" href="{{url_for('restaurants')}}" aria-label="Sort alphabetical" title="sort alphabetical">Sort&nbsp<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a>
					</div>

				</div>
			</div>

		</div>

		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    	<div class="row">
		    		<div class="col-xs-12 col-md-12">
		    			<div class="alert {{alert_type}} alert-dismissible" role="alert">
					        <ul>
					        {% for message in messages %}
					            <li> <strong> {{ message }} </strong> </li>
					        {% endfor %}
				        	</ul>
				        </div>
			        </div>
		        </div>
		    {% endif %}
	    {% endwith %}

	</div>

</div>

{% block content %}
{% endblock %}