{% extends "base-restaurant.html" %}
{% block content %}

    {% if restaurants == None %}

        <h3>There are currently no restaurants</h3>

    {% else %}

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="list-group">

                {% for restaurant in restaurants %}

                    <div class="list-group-item">

                        <div class="row vertical-align-top">
                            <div class="col-xs-6 col-sm-8 col-md-9">
                                <h2>{{restaurant.name}}</h2>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 text-right">

                                {% if restaurant.user_id == user.id %}

                                    <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
                                    |
                                    <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" >Delete</a>

                                {% endif %}

                            </div>
                        </div>

                        <h4 class="text-uppercase"><a href="{{url_for('viewMenu', restaurant_id=restaurant.id)}}">Menu
                        </a></h4>

                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

    {% endif %}

{% endblock %}