* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/*body {
    background-color: orange;
}*/

html, body {
   margin: 0;
   min-height: 100%;
   width: 100%;
}

#grad {
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, orange, red); /* Standard syntax */
}


.vertical-align-center {
    display: flex;
    align-items: center;
}

.vertical-align-top {
    display: flex;
    align-items: flex-start;
}

.vertical-align-bottom {
    display: flex;
    align-items: flex-end;
}

.category {
	margin-top: 20px;
    margin-bottom: 5px;
}

.top-menu {
	padding: 10px 0px;
}

#formContainer {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

#menuItemContainer {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

.top-buffer {
    margin-top:10px;
}